@using BMS.Tools.ExtensionMethods.Html
<!-- 开始栏(左)-->
<div class="aside-inner">
    <nav class="sidebar">
        <!-- 开始侧边栏导航-->
        <ul class="nav">
            <!-- 迭代所有侧栏项-->
            <li class="nav-heading">
                <span>导航菜单</span>
            </li>
            <li class="@Html.IsActive("Home")">
                <a href="@Url.Action("Index", "Home")" title="Home">
                    <em class="fa fa-dashboard"></em>
                    <span>控制台</span>
                </a>
            </li>

            <li class="@Html.IsActive("User")">
                <a href="#customer" class="clearfix" title="用户" data-toggle="collapse">
                    <em class="fa fa-users"></em>
                    <span>用户管理</span>
                </a>
                <ul id="customer" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">用户管理</li>
                    <li class="@Html.IsActive("User", "Index")">
                        <a href="@Url.Action("Index", "User")" title="产品列表">
                            <span>用户列表</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>